@media(max-width: 1200px) {
    body {
        background-color: #f44336;
    }

    .video-bg {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .mario {
        max-width: 50%;
    }

    .container .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .description {
        color: #ffffff;
        text-align: center;
    }

    .container .trailer-btn {
        background-color: #263238;
    }
}